<nav>
    <ul>
    <li><a href="http://localhost:8000/">home</a></li>    
            <% if(!authStatus){ %>
                <li><a href="http://localhost:8000/login">login</a></li>
            <%} else { %>
                <li><a href="http://localhost:8000/logout">logout</a></li>
            <% } %>
        <li><a href="/admin/data">Admin</a></li>
    </li>
    </ul>
</nav>