  <div slider id="slider-distance">

    <div>

      <div inverse-left style="width:70%;"></div>
      <div inverse-right style="width:70%;"></div>
      <div range style="left:30%;right:40%;"></div>
      <span thumb style="left:30%;"></span>
      <span thumb style="left:60%;"></span>

      
      <div sign style="left:30%;">
        <span id="value"></span>
        
      </div>

     
      <div sign style="left:60%;">
        <span id="value"></span>        
      </div>

    </div>
 <form action="">
  <label for="minYear">Beginning Year:</label>
  <input id="minYear" type="range" tabindex="2011" value="2011" max="2022" min="2011" step="1" oninput="
  this.value=Math.min(this.value,this.parentNode.childNodes[5].value+(1));
  let value=(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.value)-(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.min);
  const parent = document.querySelector('#slider-distance')
  let children = parent.childNodes[1].childNodes;
  console.log('min',this.parentNode)
  children[1].style.width=value+'%';
  children[5].style.left=value+'%';
  children[7].style.left=value+'%';
  children[11].style.left=value+'%';
  //children[11].childNodes[1].innerText=`Beginning Year ${this.value}`;
  document.querySelector('#sYear').value=this.value;"    
    />
 </form>

  </div>
