body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(100, 0, 182);
}

.hide {
  display: none;
}

.profileInfo {
  font-family:'Courier New', Courier, monospace;
  width: 200px;
  margin: 1 auto;
  padding: 0.5em;
  border: 1px solid #7777;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #1228;
}

.profileInfo img {
  width: 75%;
  padding-left: 22px;
}

nav>ul {
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;   
}

nav li {
  flex-direction: row; 
  margin: 20px;
  color: rgb(30, 197, 38);      
}

  h2 {
    color: rgb(62, 121, 177);
    margin: 10px 0px 5px;
    width: 50%;
    border-top: 2px solid rgb(255, 112, 51);
  }


a {
  color: rgb(247, 0, 247);
  font-style: oblique;
  font-weight: bold; 
}

p {
  color: rgb(13, 28, 228);
  font-size: 150%;
  font-weight: 300;
  letter-spacing: .1em;
  margin-top: 0;
  
}


li {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  color: black;
  }  
  
  .name{
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: rgb(23, 104, 185);
  }


  .on {
    text-decoration: line-through;
    color: red;
  }