<nav>
    <ul>
    <li><a href="http://localhost:3000/">home</a></li>
    <li><a href="http://localhost:3000/secured">Secured page</a></li>
            <% if(!authStatus){ %>
                <li><a href="http://localhost:3000/login">login</a></li>
            <%} else { %>
                <li><a href="http://localhost:3000/logout">logout</a></li>
            <% } %>
        <li><a href="http://localhost:3000/profile">user profile</a></li>
    </li>
    </ul>
</nav>